@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Web Programming 3</h1>
    <h1 class="display-4">Liam Kopke</h1>
    <h1 class="display-4">16/11/2022</h1>
    <h1 class="display-4">Section 2</h1>
</div>
